.page-title {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: left;
    color: #000000;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.page-title::before {
    content: "｜";
    position: absolute;
    left: -10px;
    color: #000000;
} 