.c-title {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 10px;
    text-align: left;
    font-weight: bold; color: #333333;
    border-left: 5px solid #000000;
}

.c-title--bordered {
    padding-bottom: 1rem;
    border-bottom: 2px solid #ccc;
}
.is-admin .c-title {
    color: #343a40;
}

.c-status-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C8C8C8;
    color: #696969;
    border-radius: 5px;
    font-size: 18px; }

.c-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* --- Pagination Styles --- */
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Adjust SVG size within pagination links */
.page-link svg {
    width: 1em; /* Or set a fixed size like 16px */
    height: 1em;
}
